body{ 
    background-color: rgba(237, 134, 218, 0.436);
}

@font-face {
    font-family: korean;
    src: url(nanum-barun-gothic/);
  }
  div {
    font-family: korean;
  }

  textarea {
    position:relative;
    color: rgba(41, 17, 94, 0.525);
    font-size: x-large;
    text-align: center;
    border-width: 5px;
    border-color: black;
  }

  p { 
    color: rgba(41, 17, 94, 0.525);
    font-size: xx-large;
    text-align: center;
    font-family: korean; 
  }